.container {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 250px;
    width: auto;
    
    }
    .anim-box {
        width: 50px;
        height: 50px;
        transform: scale(90deg);
        animation: zigzag 2s ease none infinite alternate;
        position: relative;
    }
    
    @keyframes zigzag {
    
    
        0% {
            top: 0;
            left: 0;
            background-color: blue;
            transform: rotate(0deg);}
    
        25% {
            top: 200px;
            left: 200px;
            background-color: aquamarine;
            transform: rotate(360deg);
        }
        50% {
            top: 0px;
            left: 400px;
            background-color: blue;
            transform: rotate(0deg);
        }
        75% {
            top: 200px;
            left: 600px;
            background-color: aquamarine;
            transform: rotate(360deg);
        }
        100% {
            top: 0px;
            left: 800px;
            background-color: blue;
            transform: rotate(0deg);
        }
    }  
    
    
    /* second page */
    
    .container-p {
        display: flex;
        justify-content: center;
        
    }
    
    span {
    display: inline-block;
    color: orange
        
    }
    
    span:nth-child(n) {
        font-size: 50px;
        transition-duration: 0.3s;
    
    }
    
    span:nth-child(n):hover {
        color: blue;
        transform: rotate(-45deg) scale(2);
        
    }
    
    span:nth-child(2n) {
        font-size: 50px;
        transition-duration: 0.3s;
        
    }
    
    span:nth-child(2n):hover {
        color: blue;
        transform: rotate(45deg) scale(2);
    }